* {
    box-sizing: border-box;
    margin: 0;
}
body {
    /* background: whitesmoke; */
    background: black;
    color: #5f9341;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode',  sans-serif;
    font-size: 1rem;
    padding: 10px;
    width: clamp(200px, 550px, 650px);
    min-height: 180px;
    border:5px solid #5f9341;
    overflow: hidden;
}


input {
    border: 1px solid #5f9341;
    border-radius: 2px;
    padding: 10px;
    width: 95%;
}

button {
    padding: 10px 20px;
    border: 1px;
    border-radius: 2px;
    width: 125px;
    font-weight: 700;
    margin: 10px 5px 10px 0px; /*? up, right, down, left */ 
    margin-top: 10px;
}

#input-btn, #tab-btn {
    background: #5f9341;
    color: whitesmoke;
}

#input-btn:hover, #tab-btn:hover {
    background: limegreen;
}

#delete-btn  {
    color: #5f9341;
    background: whitesmoke;
    border: 1px solid #5f9341;
}

#delete-btn:hover {
    background: limegreen;
    color: whitesmoke;
}


ul {
    padding-left: 2px;
    list-style: none;
}

li { margin-top: 5px; }

li a { color: #5f9341; }

li a:hover { color: limegreen; }

